:root {
  --clr-dark: #141d2f;
  --clr-light: #e2e3e8;
  --clr-dark-blue: #222731;
  --clr-primary: #0079ff;
  --clr-lt-blue: #60abff;
  --clr-faded-white: #8d95a2;
  --clr-blue-gray: #4b6a9b;
  --off-white: #fefefe;
  --white: #fff;

  --ff-mono: 'Space Mono';
  --fw-bold: 700;
  --fw-reg: 400;
  --fs-xlg: 28px;
  --fs-lg: 22px;
  --fs-md: 16px;
  --fs-sm: 15px;
  --fs-xsm: 13px;

  --bdr-rds: 1.2rem;
  --bx-shd: 0px 10px 15px rgba(0, 0, 0, 0.1);

  --background: var(--clr-light);
  --text: #2b3442;
  --icon: var(--clr-blue-gray);
  --link: var(--clr-blue-gray);
  --toggleHover: var(--clr-dark-blue);
  --placeholder: var(--clr-blue-gray);
  --boxShadow: var(--bx-shd);
  --boxBackground: var(--off-white);
  --statsBg: var(--clr-light);
  --skeletonBase: var(--clr-light);
  --skeletonHighlight: #e7e8ef;
}

[data-theme='dark'] {
  --background: var(--clr-dark);
  --text: var(--white);
  --icon: var(--white);
  --link: var(--white);
  --toggleHover: #90a4d4;
  --placeholder: var(--white);
  --boxShadow: none;
  --boxBackground: #1e2a47;
  --statsBg: var(--clr-dark);
  --skeletonBase: #96afe8;
  --skeletonHighlight: #90a4d4;
}

.app {
  color: var(--text);
  background-color: var(--background);

  height: 100vh;
  transition: all 0.5s;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html,
body {
  width: 100%;
  box-sizing: border-box;
}
html {
  font-family: var(--ff-mono), -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: var(--ff-reg);
  font-size: 62.5%;
}
body {
  position: relative;
  font-size: var(--fs-sm);
  line-height: 2.5rem;
  font-weight: var(--fw-reg);
}
h1,
h2 {
  font-weight: var(--fw-bold);
}
h1 {
  font-size: var(--fs-xlg);
  line-height: 38px;
}
h2 {
  font-size: var(--fs-lg);
  line-height: 33px;
}

button {
  cursor: pointer;
  font-family: var(--ff-mono), -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a {
  color: var(--clr-primary);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

input {
  font-family: var(--ff-mono), -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: var(--fs-md);
}

.sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 0.0625rem;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 0.0625rem;
}

.container {
  position: relative;
  /* font-size: var(--fs-sm); */
  line-height: 25px;
  font-weight: var(--fw-reg);
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  height: 100%;
  overflow: hidden;
  margin: 0px;
}

.main {
  width: 100%;
  max-width: 730px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 40px;
}

.header svg {
  vertical-align: text-bottom;
}

.toggler {
  input {
    visibility: hidden;
    height: 0;
    width: 0;
  }

  svg {
    fill: var(--icon);
  }

  label {
    &:hover {
      cursor: pointer;
      color: var(--toggleHover);
      svg {
        fill: var(--toggleHover);
      }
    }
  }
}

/* Search Bar */
.search__form {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.search__form input {
  background-color: var(--boxBackground);
  color: var(--clr-faded-white);
  border-radius: var(--bdr-rds);
  border: none;
  height: 60px;
  width: 100%;
  padding-left: 50px;
  box-shadow: var(--boxShadow);
}

/* .search__form input::placeholder {
  color: var(--placeholder);
} */

.search__form svg {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
}

.search__form button {
  position: absolute;
  right: 10px;
  top: 7px;
  background-color: var(--clr-primary);
  color: var(--off-white);
  border: none;
  border-radius: var(--bdr-rds);
  height: 46px;
  width: 84px;
  transition: background-color 0.25s ease-in-out;
}

.search__form button:hover {
  background-color: var(--clr-lt-blue);
}

input[type='search']::-webkit-search-cancel-button {
  display: none;
}

@media screen and (min-width: 64em) {
  .search__form input {
    height: 69px;
    padding-left: 75px;
  }

  .search__form svg {
    left: 25px;
  }

  .search__form button {
    top: 10px;
    height: 50px;
    width: 106px;
  }
}

/* User Card */
.user__card,
.user__card-flex {
  background-color: var(--boxBackground);
  border-radius: var(--bdr-rds);
  padding: 20px;
  box-shadow: var(--boxShadow);
}

.user__card img,
.user__card-avatar {
  border-radius: 50%;
  height: 70px;
  width: 70px;
  float: left;
}

@media screen and (min-width: 64em) {
  .user__card {
    display: grid;
    gap: 40px;
    grid-template-columns: auto 1fr;
    padding: 40px;
  }

  .user__card-flex {
    display: flex;
    padding: 40px;
  }

  .user__card img,
  .user__card-avatar {
    height: 117px;
    width: 117px;
    float: none;
  }
}

/* User Info */
.user__info {
  margin-bottom: 30px;
}

.user__info a {
  font-size: var(--fs-md);
}

.user__info .bio {
  margin-block: 30px;
}

@media screen and (min-width: 36em) {
  .user__info-header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .user__info-header p {
    text-align: right;
  }

  .user__info-header h2 {
    font-weight: var(--fw-bold);
    grid-area: 1 / 1 / 2 / 2;
  }

  .user__info-header h3 {
    grid-area: 2 / 1 / 3 / 2;
  }

  .user__info-header p {
    grid-area: 1 / 2 / 2 / 3;
  }
}

/* User Stats */
.user__stats {
  background-color: var(--statsBg);
  border-radius: var(--bdr-rds);
  padding-block: 20px;
}

.user__stats div {
  text-align: center;
  margin-bottom: 20px;
}

.user__stats div span {
  display: block;
  font-size: var(--fs-md);
  font-weight: var(--fw-bold);
}

@media screen and (min-width: 40em) {
  .user__stats {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 2rem;
    margin-bottom: 2rem;
  }

  .user__stats div {
    text-align: left;
    margin-bottom: 0;
  }

  .user__stats div span {
    font-size: var(--fs-lg);
  }
}

/* User Links */
@media screen and (min-width: 36em) {
  .user__card-links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px 20px;
  }

  .user__link {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .user__link.div1 {
    grid-area: 1 / 1 / 2 / 2;
  }
  .user__link.div2 {
    grid-area: 2 / 1 / 3 / 2;
  }
  .user__link.div3 {
    grid-area: 1 / 2 / 2 / 3;
  }
  .user__link.div4 {
    grid-area: 2 / 2 / 3 / 3;
  }
}

.user__link {
  background-color: transparent;
  color: var(--link);
  margin-bottom: 10px;
  gap: 0 20px;
  overflow: hidden;
}

.user__link a {
  color: var(--link);
}

.user__link svg {
  margin-right: 20px;
  fill: var(--link);
  vertical-align: text-bottom;
}

.user__link.faded {
  color: var(--clr-faded-white);
}

.user__link.faded svg {
  fill: var(--clr-faded-white);
}

/* Alert Box */
.alert {
  position: relative;
  padding: 16px;
  color: #842029;
  background-color: #f8d7da;
  border: 1px solid #f5c2c7;
  border-radius: 6px;
  width: 100%;
}
