:root {
  --clr-dark: #141d2f;
  --clr-light: #f6f8ff;
  --clr-dark-blue: #222731;
  --clr-primary: #0079ff;
  --clr-lt-blue: #60abff;
  --clr-faded-white: #8d95a2;
  --clr-blue-gray: #4b6a9b;
  --off-white: #fefefe;
  --white: #fff;

  --ff-mono: 'Space Mono';
  --fw-bold: 700;
  --fw-reg: 400;
  --fs-xlg: 2.6rem;
  --fs-lg: 2.2rem;
  --fs-md: 1.6rem;
  --fs-sm: 1.5rem;
  --fs-xsm: 1.3rem;

  --bdr-rds: 1.2rem;
  --bx-shd: 0px 10px 15px rgba(0, 0, 0, 0.1);

  --background: var(--clr-light);
  --text: #2b3442;
  --icon: var(--clr-blue-gray);
  --link: var(--clr-blue-gray);
  --toggleHover: var(--clr-dark-blue);
  --placeholder: var(--clr-blue-gray);
  --boxShadow: var(--bx-shd);
  --boxBackground: var(--off-white);
  --statsBg: var(--clr-light);
}

[data-theme='dark'] {
  --background: var(--clr-dark);
  --text: var(--white);
  --icon: var(--white);
  --link: var(--white);
  --toggleHover: #90a4d4;
  --placeholder: var(--white);
  --boxShadow: none;
  --boxBackground: #1e2a47;
  --statsBg: var(--clr-dark);
}

.app {
  color: var(--text);
  background-color: var(--background);
  font-size: large;
  font-weight: bold;
  padding: 20px;
  height: 100vh;
  transition: all 0.5s;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html,
body {
  width: 100%;
  box-sizing: border-box;
}
html {
  font-family: var(--ff-mono), -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: var(--ff-reg);
  font-size: 62.5%;
}
body {
  position: relative;
  font-size: var(--fs-sm);
  line-height: 2.5rem;
  font-weight: var(--fw-reg);
}
h1 {
  font-size: var(--fs-md);
  font-weight: var(--fw-bold);
}
h2,
p {
  font-size: var(--fs-xsm);
}
h2 {
  font-weight: var(--fw-reg);
}

@media screen and (min-width: 36em) {
  h1 {
    font-size: var(--fs-xlg);
    line-height: 3.8rem;
  }
  h2 {
    font-size: var(--fs-md);
    line-height: 3.3rem;
  }
}
button {
  cursor: pointer;
  font-family: var(--ff-mono), -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a {
  color: var(--clr-primary);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
input {
  font-family: var(--ff-mono), -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: var(--fs-md);

  &::placeholder {
    color: var(--icon);
  }
}

.container {
  position: relative;
  font-size: var(--fs-sm);
  line-height: 25px;
  font-weight: var(--fw-reg);
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0px;
}

.main {
  width: 100%;
  max-width: 730px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 40px;
}

.header svg {
  vertical-align: text-bottom;
}

.toggler {
  input {
    visibility: hidden;
    height: 0;
    width: 0;
  }

  svg {
    fill: var(--icon);
  }

  label {
    &:hover {
      cursor: pointer;
      color: var(--toggleHover);
      svg {
        fill: var(--toggleHover);
      }
    }
  }
}

.search-form {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.search-form input {
  background-color: var(--boxBackground);
  color: var(--clr-faded-white);
  border-radius: var(--bdr-rds);
  border: none;
  height: 60px;
  width: 100%;
  padding-left: 50px;
  box-shadow: var(--boxShadow);
}

.search-form svg {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
}

.search-form button {
  position: absolute;
  right: 10px;
  top: 7px;
  background-color: var(--clr-primary);
  color: var(--off-white);
  border: none;
  border-radius: var(--bdr-rds);
  height: 46px;
  width: 84px;
  transition: background-color 0.25s ease-in-out;
}

.search-form button:hover {
  background-color: var(--clr-lt-blue);
}

.error {
  color: red;
  position: absolute;
  right: 15px;
  top: 35%;
}

@media screen and (min-width: 64em) {
  .search-form input {
    height: 69px;
    padding-left: 75px;
  }

  .search-form svg {
    left: 25px;
  }

  .search-form button {
    top: 10px;
    height: 50px;
    width: 106px;
  }
}
